body {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 202) 0%,
    rgb(158, 150, 150) 35%,
    rgb(0, 0, 202) 100%
  );
}
.glow {
  font-size: 70px;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000,
      0 0 40px #000000, 0 0 50px #2826b1, 0 0 60px #2029ad, 0 0 70px #271bc4;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #032e07, 0 0 40px #0b4718,
      0 0 50px #3040d8, 0 0 60px #6e4dff, 0 0 70px #684dff, 0 0 80px #175a0f;
  }
}

h2 {
  text-align: center;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; /* Full width */
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px;