.glow {
  font-size: 70px;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000,
      0 0 40px #000000, 0 0 50px #2826b1, 0 0 60px #2029ad, 0 0 70px #271bc4;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #032e07, 0 0 40px #0b4718,
      0 0 50px #3040d8, 0 0 60px #6e4dff, 0 0 70px #684dff, 0 0 80px #175a0f;
  }
}

h2 {
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: bold;
  color: #252525;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-top: 30px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

/* FROM NOW ITS IAF PAGE!!! */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #0e0e0e;
  font-family: "Times New Roman", Times, serif;
  color: #3c2eff;
  font-weight: 300;
}

header {
  background-color: #473737;
  width: 100%;
  height: 95px;
  position: fixed;
  z-index: 10000;
}

#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  float: right;
  padding: 20px 25px 0 0;
}

ul {
  list-style-type: none;
}

nav ul li {
  font-size: 140%;
  display: inline-block;
  float: left;
  padding: 15px;
  font-weight: 300;
  margin: ;
}

nav ul li a {
  color: #0d0676;
  text-decoration: none;
}

nav ul li a:hover {
  color: #1900ff;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 3% 0 3% 0;
}

h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  padding: 2%;
  text-align: justify;
  font-size: 17px;
  word-spacing: 2px;
  color: #e0dbdb;
}

.hover-a {
  text-transform: uppercase;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  color: #e0dbdb;
  padding: 0 2px 0 2px;
}

.hover-a:hover {
  background-color: #f90000;
}

#white {
  background-color: white;
  color: black;
}

#red {
  background-color: red;
  color: white;
}

#black {
  background-color: black;
  color: red;
}

span {
  text-transform: uppercase;
  padding: 0 2px 0 2px;
}

img {
  max-width: 100%;
  height: auto;
}

#banner-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.about-intro {
  padding-top: 95px;
}

.one-half {
  width: 44%;
  float: left;
  margin: 2% 0 3% 4%;
  text-align: center;
}

.one-third {
  width: 28%;
  float: left;
  margin: 2% 0 3% 4%;
  text-align: center;
}

#profile {
  border: 3px solid #2b09e9;
  border-radius: 50%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  filter: grayscale(50%);
  margin-top: -15px;
}

#profile:hover {
  -moz-transform: scale(0.985);
  -webkit-transform: scale(0.985);
  transform: scale(0.985);
  filter: grayscale(0);
}

/*parallax sections */
.parallax-1 {
  background-position: center;
  text-align: center;
  margin: 50px auto 50px auto;
  max-width: 1300px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.3);
}

.parallax-inner {
  padding-top: 90px;
  padding-bottom: 225px;
}

.fixer {
  clear: both;
}

.portfolio-img {
  border: 2px solid white;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10%;
  margin-bottom: 25px;
  width: 350px;
}

.portfolio-img:hover {
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.0015);
  transform: scale(1.015);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fdfdfd;
  font-size: 1em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #fdfdfd;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #fdfdfd;
  font-size: 1em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #fdfdfd;
}

input::placeholder,
textarea::placeholder {
  color: #fdfdfd;
  font-size: 1em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #fdfdfd;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #fdfdfd;
  font-size: 1em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #fdfdfd;
}

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #662eff;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #432eff;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #432eff;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #432eff;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #432eff;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #542eff;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #3c2eff;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #542eff;
}

#form {
  position: relative;
  width: 100%;
  max-width: 472px;
}

input {
  font-family: "Open Sans";
  color: #4d2eff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 3px;
  text-align: center;

  max-width: 470px;
  width: 100%;
  height: 50px;

  background: transparent;
  outline: none;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea {
  max-width: 470px;
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding-top: 15px;

  background: transparent;
  outline: none;

  font-family: "Times New Roman", Times, serif;
  color: #4d2eff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 3px;
  text-align: center;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

#submit {
  max-width: 472px;
  width: 100.5%;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fdfdfd;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #312eff;
}

.social {
  clear: both;
  height: 50px;
  text-align: center;
}

.social ul li {
  display: inline-block;
  margin: 20px 15px 0 15px;
}

.social ul li a {
  text-decoration: none;
  color: #4d2eff;
}

.social ul li i:hover {
  color: #e0dbdb;
}

@media screen and (max-width: 768px) {
  #logo {
    margin: 5px 0 0 10px;
  }

  #menu-icon {
    display: inline-block;
    margin-right: 5px;
  }

  nav ul,
  nav:active ul {
    display: none;
    z-index: 10000;
    position: absolute;
    padding: 20px 20px 20px 0px;
    background: #191919;
    right: 0.1px;
    top: 94px;
    text-align: center;
  }
  nav:hover ul {
    display: block;
  }
  nav li {
    text-align: center;
    width: 100%;
  }

  .one-third {
    width: 100%;
    margin: 5% 0%;
  }

  .one-half {
    width: 100%;
    margin: 5% 0%;
  }

  h1 {
    margin-bottom: 25px;
  }

  #form {
    max-width: none;
  }

  p {
    text-align: center;
  }

  img {
    max-width: 85%;
  }
}
